{% extends "entidades/index.html" %}

<ul class="navbar-nav ms-auto mt-2 mt-lg-0">
    <li class="nav-item active"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
   
</ul>



{% block titulo %}
 <h1 class="mt-4"> Hosts Forms</h1>
 <h5 class="mt-4"> Form para ingresar datos </h5>

{% endblock titulo %}

{% block contenido %}

<form action="" method="post">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <input type="submit" value="Guardar">
</form>
  
{% endblock contenido %}