{% extends "entidades/index.html" %}

<ul class="navbar-nav ms-auto mt-2 mt-lg-0">
    <li class="nav-item active"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
   
</ul>



{% block titulo %}
 <h1 class="mt-4"> Owners  </h1>
 <h5 class="mt-4"> Listar/Filtrar responsables de proyectos y datos de contacto </h5>

{% endblock titulo %}

{% block contenido %}

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>resposables</th>
            <th>proyecto</th>
            <th>contacto</th>
        </tr>
    </thead>
    <tbody>
    {% for c in owners  %}
        <tr>
            <td>{{ c.id }}</td>
            <td>{{ c.resposables }}</td>
            <td>{{ c.proyecto }}</td>
            <td>{{ c.contacto }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
     
{% endblock contenido %}